##Reading the data

In [30]:
import pandas as pd
import numpy as np

df = pd.read_csv("Customer_Churn.csv")
df.head()

,CustomerId,Lastname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Churned
0,15729836,Robinson,646,Spain,Male,32,1,0.00,2,1,0,183289.22,0
1,15708610,Costa,690,Germany,Male,44,9,100368.63,2,0,0,35342.33,0
2,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
3,15594133,Erskine,697,Spain,Male,62,7,0.00,1,1,0,129188.18,1
4,15726747,Donaldson,714,France,Male,63,4,138082.16,1,0,1,166677.54,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       9000 non-null   int64
 1   Lastname         9000 non-null   object
 2   CreditScore      9000 non-null   int64
 3   Geography        9000 non-null   object
 4   Gender           9000 non-null   object
 5   Age              9000 non-null   int64
 6   Tenure           9000 non-null   int64
 7   Balance          9000 non-null   float64
 8   NumOfProducts    9000 non-null   int64
 9   HasCrCard        9000 non-null   int64
 10  IsActiveMember   9000 non-null   int64
 11  EstimatedSalary  9000 non-null   float64
 12  Churned          9000 non-null   int64
dtypes: float64(2), int64(8), object(3)
memory usage: 914.2+ KB

In [4]:
df.isna().sum()

CustomerId         0
Lastname           0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Churned            0
dtype: int64

In [5]:
df.nunique()

CustomerId         9000
Lastname           2798
CreditScore         456
Geography             3
Gender                2
Age                  70
Tenure               11
Balance            5738
NumOfProducts         4
HasCrCard             2
IsActiveMember        2
EstimatedSalary    8999
Churned               2
dtype: int64

## Dropping unnecessary variables

In [6]:
df.drop(columns=["CustomerId", "Lastname"], axis=1, inplace=True)

In [7]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Churned
0,646,Spain,Male,32,1,0.00,2,1,0,183289.22,0
1,690,Germany,Male,44,9,100368.63,2,0,0,35342.33,0
2,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
3,697,Spain,Male,62,7,0.00,1,1,0,129188.18,1
4,714,France,Male,63,4,138082.16,1,0,1,166677.54,0

In [8]:
df["Churned"].value_counts()

Churned
0    7178
1    1822
Name: count, dtype: int64

## Dummy encoding

* For Gender and Geography categorical variables

In [9]:
df = pd.get_dummies(df, drop_first = True)
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Churned,Geography_Germany,Geography_Spain,Gender_Male
0,646,32,1,0.00,2,1,0,183289.22,0,False,True,True
1,690,44,9,100368.63,2,0,0,35342.33,0,True,False,True
2,772,42,3,75075.31,2,1,0,92888.52,1,True,False,True
3,697,62,7,0.00,1,1,0,129188.18,1,False,True,True
4,714,63,4,138082.16,1,0,1,166677.54,0,False,False,True

## Standardizing the variables

* MinMaxScaler

In [10]:
X = df.drop(["Churned"], axis=1)
y = df.Churned

In [11]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

sc = MinMaxScaler()
X = sc.fit_transform(X)

In [12]:
X = pd.DataFrame(X)

In [13]:
X.head()

      0         1    2         3         4    5    6         7    8    9    10
0  0.592  0.189189  0.1  0.000000  0.333333  1.0  0.0  0.916575  0.0  1.0  1.0
1  0.680  0.351351  0.9  0.400037  0.333333  0.0  0.0  0.176690  1.0  0.0  1.0
2  0.844  0.324324  0.3  0.299226  0.333333  1.0  0.0  0.464480  1.0  0.0  1.0
3  0.694  0.594595  0.7  0.000000  0.000000  1.0  0.0  0.646015  0.0  1.0  1.0
4  0.728  0.608108  0.4  0.550352  0.000000  0.0  1.0  0.833500  0.0  0.0  1.0

In [14]:
X.shape

(9000, 11)

##Fitting an Autoencoder architecture

In [15]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Input, Dense, Dropout
import tensorflow as tf


AE = Sequential()
AE.add(Input(shape = X.shape[1]))
AE.add(Dense(6, activation ="relu"))
AE.add(Dropout(0.1))

AE.add(Dense(3, activation ="relu"))
AE.add(Dropout(0.1))

AE.add(Dense(6, activation ="relu"))
AE.add(Dropout(0.1))
AE.add(Dense(X.shape[1], activation = "sigmoid"))


AE.compile(optimizer= 'adam', loss = "mse")


AE.fit(X,X, epochs = 80, batch_size= 200, validation_split = 0.1)

Epoch 1/80
41/41 [==============================] - 5s 9ms/step - loss: 0.1594 - val_loss: 0.1568
Epoch 2/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1536 - val_loss: 0.1492
Epoch 3/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1455 - val_loss: 0.1397
Epoch 4/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1375 - val_loss: 0.1316
Epoch 5/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1313 - val_loss: 0.1246
Epoch 6/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1259 - val_loss: 0.1173
Epoch 7/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1209 - val_loss: 0.1122
Epoch 8/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1178 - val_loss: 0.1093
Epoch 9/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1164 - val_loss: 0.1074
Epoch 10/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1142 - val_loss: 0.1048
Epoch 11/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1123 - val_loss: 0.1029
Epoch 12/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1107 - val_loss: 0.1015
Epoch 13/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1094 - val_loss: 0.1001
Epoch 14/80
41/41 [==============================] - 0s 4ms/step - loss: 0.1080 - val_loss: 0.0990
Epoch 15/80
41/41 [==============================] - 0s 6ms/step - loss: 0.1070 - val_loss: 0.0979
Epoch 16/80
41/41 [==============================] - 0s 6ms/step - loss: 0.1060 - val_loss: 0.0966
Epoch 17/80
41/41 [==============================] - 0s 7ms/step - loss: 0.1049 - val_loss: 0.0953
Epoch 18/80
41/41 [==============================] - 0s 6ms/step - loss: 0.1040 - val_loss: 0.0939
Epoch 19/80
41/41 [==============================] - 0s 6ms/step - loss: 0.1027 - val_loss: 0.0923
Epoch 20/80
41/41 [==============================] - 0s 6ms/step - loss: 0.1012 - val_loss: 0.0903
Epoch 21/80
41/41 [==============================] - 0s 6ms/step - loss: 0.1000 - val_loss: 0.0883
Epoch 22/80
41/41 [==============================] - 0s 7ms/step - loss: 0.0980 - val_loss: 0.0862
Epoch 23/80
41/41 [==============================] - 0s 6ms/step - loss: 0.0968 - val_loss: 0.0842
Epoch 24/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0958 - val_loss: 0.0822
Epoch 25/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0949 - val_loss: 0.0806
Epoch 26/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0940 - val_loss: 0.0793
Epoch 27/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0930 - val_loss: 0.0784
Epoch 28/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0926 - val_loss: 0.0776
Epoch 29/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0921 - val_loss: 0.0768
Epoch 30/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0907 - val_loss: 0.0761
Epoch 31/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0917 - val_loss: 0.0756
Epoch 32/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0914 - val_loss: 0.0754
Epoch 33/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0903 - val_loss: 0.0747
Epoch 34/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0900 - val_loss: 0.0744
Epoch 35/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0909 - val_loss: 0.0741
Epoch 36/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0898 - val_loss: 0.0738
Epoch 37/80
41/41 [==============================] - 0s 5ms/step - loss: 0.0896 - val_loss: 0.0733
Epoch 38/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0893 - val_loss: 0.0729
Epoch 39/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0889 - val_loss: 0.0727
Epoch 40/80
41/41 [==============================] - 0s 5ms/step - loss: 0.0889 - val_loss: 0.0724
Epoch 41/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0878 - val_loss: 0.0720
Epoch 42/80
41/41 [==============================] - 0s 5ms/step - loss: 0.0885 - val_loss: 0.0717
Epoch 43/80
41/41 [==============================] - 0s 5ms/step - loss: 0.0873 - val_loss: 0.0714
Epoch 44/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0875 - val_loss: 0.0711
Epoch 45/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0866 - val_loss: 0.0708
Epoch 46/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0871 - val_loss: 0.0704
Epoch 47/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0869 - val_loss: 0.0702
Epoch 48/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0859 - val_loss: 0.0697
Epoch 49/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0858 - val_loss: 0.0693
Epoch 50/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0855 - val_loss: 0.0686
Epoch 51/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0853 - val_loss: 0.0680
Epoch 52/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0854 - val_loss: 0.0678
Epoch 53/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0846 - val_loss: 0.0673
Epoch 54/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0836 - val_loss: 0.0666
Epoch 55/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0833 - val_loss: 0.0662
Epoch 56/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0830 - val_loss: 0.0658
Epoch 57/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0831 - val_loss: 0.0652
Epoch 58/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0824 - val_loss: 0.0646
Epoch 59/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0818 - val_loss: 0.0643
Epoch 60/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0818 - val_loss: 0.0639
Epoch 61/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0818 - val_loss: 0.0637
Epoch 62/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0810 - val_loss: 0.0630
Epoch 63/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0812 - val_loss: 0.0627
Epoch 64/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0809 - val_loss: 0.0625
Epoch 65/80
41/41 [==============================] - 0s 5ms/step - loss: 0.0804 - val_loss: 0.0622
Epoch 66/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0796 - val_loss: 0.0619
Epoch 67/80
41/41 [==============================] - 0s 5ms/step - loss: 0.0802 - val_loss: 0.0619
Epoch 68/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0803 - val_loss: 0.0615
Epoch 69/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0793 - val_loss: 0.0613
Epoch 70/80
41/41 [==============================] - 0s 5ms/step - loss: 0.0787 - val_loss: 0.0608
Epoch 71/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0793 - val_loss: 0.0606
Epoch 72/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0790 - val_loss: 0.0603
Epoch 73/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0783 - val_loss: 0.0600
Epoch 74/80
41/41 [==============================] - 0s 5ms/step - loss: 0.0787 - val_loss: 0.0601
Epoch 75/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0779 - val_loss: 0.0599
Epoch 76/80
41/41 [==============================] - 0s 5ms/step - loss: 0.0781 - val_loss: 0.0594
Epoch 77/80
41/41 [==============================] - 0s 4ms/step - loss: 0.0781 - val_loss: 0.0593
Epoch 78/80
41/41 [==============================] - 0s 7ms/step - loss: 0.0776 - val_loss: 0.0591
Epoch 79/80
41/41 [==============================] - 0s 6ms/step - loss: 0.0775 - val_loss: 0.0591
Epoch 80/80
41/41 [==============================] - 0s 6ms/step - loss: 0.0779 - val_loss: 0.0590

In [16]:
predicted = AE.predict(X)

282/282 [==============================] - 1s 2ms/step

In [17]:
pd.DataFrame(predicted, columns = df.drop("Churned", axis =1).columns)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,0.587548,0.258377,0.492158,0.238370,0.171897,0.965648,5.971828e-04,0.494776,0.017380,0.618796,1.000000
1,0.592648,0.273345,0.516388,0.405251,0.172217,0.607084,1.230177e-10,0.518790,0.673069,0.052839,0.995908
2,0.587584,0.267088,0.524626,0.427167,0.152862,0.824235,2.539064e-14,0.523501,0.754172,0.023552,0.997842
3,0.588277,0.259408,0.492291,0.241228,0.173736,0.961760,7.388029e-04,0.495286,0.019525,0.604250,1.000000
4,0.605550,0.291023,0.491471,0.317614,0.218158,0.361277,8.715120e-01,0.503906,0.228557,0.349745,0.993602
...,...,...,...,...,...,...,...,...,...,...,...
8995,0.588233,0.259347,0.492291,0.241180,0.173679,0.961573,7.253810e-04,0.495260,0.019463,0.605335,1.000000
8996,0.607805,0.292013,0.491880,0.303173,0.215469,0.809209,8.893251e-01,0.506019,0.189045,0.250869,0.850981
8997,0.604256,0.285132,0.488313,0.233866,0.181083,0.998980,9.407815e-01,0.502150,0.026239,0.236545,0.999726
8998,0.592978,0.274018,0.516692,0.407979,0.172263,0.610963,1.146439e-10,0.519263,0.689811,0.049063,0.990531
8999,0.597775,0.275972,0.498180,0.323322,0.203988,0.413060,8.174322e-04,0.505210,0.227064,0.336583,0.999999

In [18]:
X

,0,1,2,3,4,5,6,7,8,9,10
0,0.592,0.189189,0.1,0.000000,0.333333,1.0,0.0,0.916575,0.0,1.0,1.0
1,0.680,0.351351,0.9,0.400037,0.333333,0.0,0.0,0.176690,1.0,0.0,1.0
2,0.844,0.324324,0.3,0.299226,0.333333,1.0,0.0,0.464480,1.0,0.0,1.0
3,0.694,0.594595,0.7,0.000000,0.000000,1.0,0.0,0.646015,0.0,1.0,1.0
4,0.728,0.608108,0.4,0.550352,0.000000,0.0,1.0,0.833500,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
8995,0.702,0.243243,0.8,0.000000,0.333333,1.0,0.0,0.845922,0.0,1.0,1.0
8996,0.530,0.283784,0.5,0.451153,0.333333,1.0,1.0,0.260827,1.0,0.0,1.0
8997,0.562,0.229730,0.8,0.514972,0.000000,1.0,1.0,0.395755,0.0,0.0,1.0
8998,0.822,0.594595,0.5,0.394002,0.000000,0.0,0.0,0.434636,1.0,0.0,1.0
8999,0.464,0.148649,0.4,0.000000,0.333333,0.0,0.0,0.780868,0.0,0.0,1.0

## Reconstruction Loss

In [19]:
mse_reconstruction = np.mean((X-predicted)**2, axis=1)

In [20]:
pd.DataFrame(mse_reconstruction)

             0
0     0.051472
1     0.071103
2     0.023981
3     0.039657
4     0.059630
...        ...
8995  0.042920
8996  0.081231
8997  0.025935
8998  0.060411
8999  0.052406

[9000 rows x 1 columns]

In [21]:
df_withloss = df.copy()
df_withloss['reconstruction loss'] = mse_reconstruction

In [22]:
df_withloss.sort_values('reconstruction loss', ascending = False, inplace = True)

In [23]:
df_withloss.head(50)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Churned,Geography_Germany,Geography_Spain,Gender_Male,reconstruction loss
8988,850,45,5,174088.30,4,1,0,5669.31,1,False,True,False,0.199353
4049,757,55,9,117294.12,4,1,0,94187.47,1,False,True,False,0.178578
824,773,47,2,118079.47,4,1,1,143007.49,1,True,False,True,0.173843
6370,698,50,1,0.00,4,1,0,88566.90,1,False,True,False,0.173675
5672,575,49,7,121205.15,4,1,1,168080.53,1,True,False,True,0.169234
6311,640,39,9,131607.28,4,0,1,6981.43,1,True,False,True,0.168954
4859,438,54,2,0.00,1,0,0,191763.07,1,False,True,False,0.167346
5446,749,66,6,182532.23,2,1,1,195429.92,0,True,False,True,0.161246
2117,538,31,0,0.00,2,0,0,179453.66,0,False,True,False,0.159281
6077,547,44,5,0.00,3,0,0,5459.07,1,False,True,False,0.158995
4506,526,58,9,190298.89,2,1,1,191263.76,0,True,False,True,0.158029
6817,687,39,2,0.00,3,0,0,188150.60,1,False,True,False,0.156672
2494,803,37,1,0.00,2,0,0,7455.20,0,False,True,False,0.156116
4148,790,46,9,0.00,1,0,0,14679.81,1,False,True,False,0.156079
3825,529,44,1,0.00,2,0,0,14161.30,0,False,True,False,0.155919
5759,575,37,0,0.00,2,0,0,30114.32,0,False,True,False,0.154234
5653,815,57,5,0.00,3,0,0,38941.44,1,False,True,False,0.154040
2437,630,50,3,129370.91,4,1,1,47775.34,1,True,False,True,0.153980
2681,488,39,9,140553.46,1,0,0,12440.44,0,False,True,False,0.153937
6439,584,37,10,134171.80,4,1,1,70927.11,1,True,False,False,0.153700
6497,537,84,8,92242.34,1,1,1,186235.98,0,True,False,True,0.153417
1406,461,74,1,186445.31,2,1,1,196767.83,0,True,False,False,0.153157
4870,546,45,2,0.00,1,0,0,197789.83,1,False,True,False,0.152831
1443,358,52,8,143542.36,3,1,0,141959.11,1,False,True,False,0.152092
3433,849,41,10,84622.13,1,1,1,198072.16,0,True,False,True,0.151548
5898,793,36,0,0.00,1,0,0,148993.47,0,False,True,False,0.150950
6713,496,44,0,179356.28,2,1,0,2919.21,1,False,True,False,0.150925
2755,850,55,7,0.00,1,0,0,171762.87,1,False,True,False,0.150898
1878,645,21,1,0.00,2,0,0,28726.07,0,False,True,False,0.150459
7778,449,33,8,0.00,2,0,0,156792.89,0,False,True,False,0.150274
2040,692,45,6,152296.83,4,0,1,108040.86,1,True,False,True,0.150246
4459,780,71,9,142550.25,2,1,1,122506.78,0,True,False,True,0.150117
4376,505,45,9,131355.30,3,1,0,195395.33,1,False,True,False,0.149147
4702,657,27,8,0.00,2,0,0,6468.24,0,False,True,False,0.148906
2830,808,67,10,124577.15,1,0,1,169894.40,0,False,True,False,0.148391
4123,383,48,8,95808.19,1,0,0,137702.01,1,False,True,False,0.147258
5909,539,37,1,130922.81,2,0,0,2186.83,0,False,True,False,0.147175
8208,655,78,2,0.00,2,0,1,188435.38,0,False,True,False,0.146984
3691,559,27,1,0.00,1,0,1,1050.33,0,False,True,False,0.146759
2857,641,51,2,117306.69,4,1,1,26912.72,1,True,False,False,0.146384
4547,535,50,1,140292.58,3,0,0,69531.22,1,False,True,False,0.146032
1417,538,42,9,0.00,1,0,0,152855.96,0,False,True,False,0.145871
8930,850,37,9,122506.38,1,0,1,199693.84,1,True,False,True,0.145757
4489,500,50,5,0.00,4,1,1,83866.35,1,False,True,False,0.145671
4575,698,38,1,171848.38,1,0,0,16957.45,0,False,True,False,0.144937
2988,637,34,9,0.00,2,0,0,26057.08,0,False,True,False,0.144927
8144,720,57,1,162082.31,4,0,0,27145.73,1,True,False,False,0.144824
7877,827,35,0,0.00,2,0,1,184514.01,0,False,True,False,0.144812
8123,543,41,4,0.00,1,0,0,194902.16,0,False,True,False,0.144770
8798,765,32,9,178095.55,1,0,0,47247.56,0,False,True,False,0.144175

## Determing top 500 most likely to churn customers

In [24]:
top500 = df_withloss.head(500)

## Recall

In [28]:
top500.Churned.sum() / df.Churned.sum()

0.08726673984632272

8.7% Recall